export(compile_questions)
export(convert_to_user_interface)
export(text_to_evaluate_first_menu_selection)
export(round_near)
export(function.rbind_different_column_numbers)
export(function.read_data)
export(function.read_metadata)
export(function.plan_upload)
export(function.plan_upload_no_data)
export(function.Summary_Measures)
export(function.Check_Distribution)
export(function.Compare_Groups)
export(function.Compare_Sample_Pop_Means)
export(function.Create_Plots)
export(function.Generate_Hypothesis)
export(function.Make_Conclusions_Effect_size)
export(function.Sample_Size_Calculations_Primary)
export(function.Sample_Size_Calculations_Effect_size)
export(function.Correlation)
export(function.Regression_Analysis)
export(function.Multivariate_Regression)
export(function.Survival_Analysis)
export(function.Diagnostic_Accuracy_Primary)
export(function.Diagnostic_Accuracy_Tables)
export(function.Mixed_Effects_Regression)
export(function.submit_choices)
import(stringr)
import(shiny)
import(stats)
import(ggplot2)
import(DescTools)
import(lme4)
importFrom(utils, read.csv, write.table)
importFrom(cowplot, plot_grid, ggdraw, draw_label, as_grob)
importFrom(zip, zip)
importFrom(pwr, pwr.t.test, pwr.2p.test, pwr.anova.test, ES.h)
importFrom(ggcorrplot, ggcorrplot, cor_pmat)
importFrom(survival, coxph, Surv, basehaz)
importFrom(nnet, multinom)
importFrom(MASS, polr)
importFrom(lmtest, lrtest)
importFrom(pROC, roc, ggroc, coords)
importFrom(ThresholdROC, diagnostic)
importFrom(ggsurvfit, ggsurvfit, survfit2, scale_ggsurvfit, add_censor_mark, add_confidence_interval, add_risktable)
importFrom(mclogit, mblogit)
importFrom(ordinal, clmm, clm)
importFrom(coxme, coxme)
importFrom(MuMIn, dredge, get.models)
